{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 class="text-center fw-bold">Register</h1>
    <form action="" method="post" class="w-75 mx-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary w-100" type="submit" value="Register">
        <div class="form-text mt-3">
            <p>Already have account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </form>
</div>
{% endblock content %}